<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket IO</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="col-lg-6 offset-lg-3">
                <div v-if="ready">
                    <p v-for="item in info">
                        {{item.name}} {{item.type}}
                    </p>
                </div>

                <div v-if="!ready">
                    <h4>Tambah Orang</h4>
                    <form @submit.prevent="addName">
                        <div class="form-group">
                            <input type="text" v-model="name" placeholder="Ketikan disini" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tambah" class="btn btn-sm btn-info">
                        </div>
                    </form>
                </div>
                <!-- <h1 v-else>{{name}}</h1> -->
                <div class="card bg-info" v-if="ready">
                    <div class="card-header">
                        {{name}} Aplikasi Chat <span class="float-right">{{terhubung}} Orang</span>
                    </div>
                    <ul class="list-group list-group-flush text-right">
                        <small class="text-white" v-if="typing">{{typing}} Sedang Menulis</small>
                        <li class="list-group-item" v-for="message in messages">
                            <span :class="{'float-left':message.type === 1}">
                                {{message.message}}
                                <br>
                                <small>-{{message.by}}</small>
                            </span>

                        </li>
                    </ul>

                    <div class="card-body">
                        <form @submit.prevent="send">
                            <div class="form-group">
                                <input type="text" v-model="newmessage" placeholder="Ketikan disini" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        let app = new Vue({
            el: '#app',
            data: {
                newmessage: null,
                messages: [],
                typing: false,
                name: null,
                ready: false,
                info: [],
                terhubung: 0
            },
            methods: {
                send() {
                    this.messages.push({
                        message: this.newmessage,
                        type: 0,
                        by: this.name
                    });
                    socket.emit('chat-message', {
                        message: this.newmessage,
                        user: this.name
                    });
                    this.newmessage = null
                },
                addName() {
                    this.ready = true
                    socket.emit('joined', this.name)
                }
            },
            watch: {
                newmessage(value) {
                    value ? socket.emit('typing', this.name) : socket.emit('stopTyping')

                }
            },
            created() {

                window.onbeforeunload = () => {
                    socket.emit('leaved', this.name)
                }
                socket.emit('Created', 'Cahyo')
                socket.on('Created', (data) => {
                    console.log(data);
                })
                socket.on('chat-message', (data) => {
                    this.messages.push({
                        message: data.message,
                        type: 1,
                        by: data.user
                    })
                })
                socket.on('typing', (name) => {
                    this.typing = name
                })
                socket.on('stopTyping', () => {
                    this.typing = false
                })
                socket.on('joined', (data) => {
                    this.info.push({
                        name: data,
                        type: 'Joined'
                    })
                    setTimeout(() => {
                        this.info = []
                    }, 3000)
                })
                socket.on('leaved', (data) => {
                    this.info.push({
                        name: data,
                        type: 'Leaved'
                    })
                    setTimeout(() => {
                        this.info = []
                    }, 3000)
                })
                socket.on('terhubung', (data) => {
                    this.terhubung = data
                })
            }
        })
    </script>
</body>

</html>